$darkgrey: #5F5F5F;
$grey: #9D9D9D;
$offwhite: #E9E9E9;
$lilac: #E3E7FC;
$blue: #2CA8FE;
$darkblue: #4541F0;
$black: black;
$darkLilac: #90A0F5;

$radius: 40px;


$maxWidth: 1080px;

$sectionPadding: 6rem;

@mixin sectionPadding {
    padding: $sectionPadding;

    @media screen and (max-width: 768px) {
        padding: calc($sectionPadding / 3);

    }

}

@mixin headerMargin {
    margin-left: $sectionPadding;
    margin-top:$sectionPadding;
    @media screen and (max-width: 768px) {
        margin-left: calc($sectionPadding / 3);
        margin-top: calc($sectionPadding / 3);
        
    }
}

.sectionHeader-m {
    @extend .sectionHeader;
    @include headerMargin();

}

.sectionHeader {
    color: $grey;
    font-size: 1.4rem;
    font-weight: 500;
}

.sectionText {
    color: $grey;
    font-weight: 300;
    font-size: 1.7rem;

    &.big {
        font-size: 2.5rem;
    }
    &.bigger{
        font-size:3rem;
        font-weight: 500;
    }

    .blue {
        color: $darkblue;
    }

    strong {
        font-weight: 700;
    }
}


@mixin scrollBar() {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      display:none;
    }
  
    &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  
  
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #D9D9D9;
    }
  
  
  
  }